{% extends 'farmer/layout.html' %}
{% load static %}

{% block content %}
<script type="text/javascript">
$(document).ready(function() {
    $('#submitForm').on('click', function() {
        $(this).parents('form').submit();

        return false;
    });

     $('{{message_alert}}').modal({
            show: true,
            backdrop: "static"
     });
});
</script>


<header>Harvested Trees</header>

        <div class="container">
            <div id="message_alert" class="modal fade" role="dialog">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Error Message</h4>
                    </div>
                    <div class="modal-body">
                      <h6>Please fill in all fields. If there are no harvested trees in a particular yield, please fill in zero.</h6>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>

<div class="p-form-planted">
    <form action="/farmer/{{farm_id}}/{{year}}/{{month}}/{{report_id}}/harvestedtreesform/" method="POST">
        {% csrf_token %}
        <div class="planted-table">
            <table>
                <thead>
                    <tr>
                        <td class="first"><strong>Yield</strong></td>
                        <td class="second"><strong>Amount of Trees</strong></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="yield">1</td>
                        <td class="input"><input type="number" name="yield[]" value="{{yields.1}}" /></td>
                    </tr>
                    <tr>
                        <td class="yield">2</td>
                        <td class="input"><input type="number" name="yield[]"  value="{{yields.2}}" /></td>
                    </tr>
                    <tr>
                        <td class="yield">3</td>
                        <td class="input"><input type="number" name="yield[]" value="{{yields.3}}" /></td>
                    </tr>
                    <tr>
                        <td class="yield">4</td>
                        <td class="input"><input type="number" name="yield[]" value="{{yields.4}}" /></td>
                    </tr>
                    <tr>
                        <td class="yield">5</td>
                        <td class="input"><input type="number" name="yield[]" value="{{yields.5}}" /></td>
                    </tr>
                </tbody>
            </table>
         </div>

        <div class="bottom-menu">
                <a href="/farmer/{{farm_id}}/{{year}}/{{month}}/{{report_id}}/plantedform/">
                    <button type="button" class="back button btn btn-success custom-btn btn-lg btn-block twobuttons">Go back</button>
                </a>
                <a>
                    <button href="#" type="button" class="edit button btn btn-success custom-btn btn-lg btn-block twobuttons" id="submitForm">Next</button>
                </a>
        </div>

    </form>
</div>


{% endblock %}
