{% extends 'farmer/layout.html' %}
{% load static %}

{% block content %}
<script type="text/javascript">
$(document).ready(function() {
    $('.buttons .button').on('click', function() {
        $('.buttons .button').removeClass('selected');
        $(this).addClass('selected');

        if ($(this).hasClass('yes')) {
            $('input[name="fertilizer_used"]').val('yes');
        } else {
            $('input[name="fertilizer_used"]').val('no');
        }
    });

    $('#submitForm').on('click', function() {
        $(this).parents('form').submit();

        return false;
    });
});
</script>

<header>Fertilizer</header>

<form action="/farmer/form_fertilizer/{{report_id}}" method="POST">
    {% csrf_token %}
    <div class="p-form-fertilizer">
        <div class="label">Did you use a fertilizer this month?</div>
        <input type="hidden" name="fertilizer_used" value="{{report.used}}" >

        <div class="buttons">
            <div class="yes button {% if report.fertilizer_used == 'yes' %}selected{% endif %}">Yes</div>
            <div class="no button {% if report.fertilizer_used == 'no' %}selected{% endif %}">No</div>
        </div>

        <div class="clear"></div>
        <div class="label">How many fertilizer did you use? (optional)</div>

        <div class="fertilizer-input">
            <input type="number" value="{{ report.fertilizer_amount }}" name="fertilizer_kgs" />
        </div>

        <div class="bottom-menu">
            <a href="/farmer/form_harvest/" class="back button">Go back</a>
            <a href="#" class="edit button" id="submitForm">Submit</a>
        </div>
    </div>
</form>

{% endblock %}
