{% extends 'farmer/layout.html' %}
{% load static %}

{% block content %}
<script type="text/javascript">
$(document).ready(function() {
    $('#submitForm').on('click', function() {
        $(this).parents('form').submit();

        return false;
    });
});
</script>
<header>New planted trees</header>

<div class="p-form-planted">
    <form action="/farmer/form_planted/{{report_id}}" method="POST">
        {% csrf_token %}
        <table>
            <thead>
                <tr>
                    <td class="first">Yield</td>
                    <td class="second">Amount of planted trees</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="yield">1</td>
                    <td class="input"><input type="number" name="yield[]" value="{{yields.1}}" /></td>
                </tr>
                <tr>
                    <td class="yield">2</td>
                    <td class="input"><input type="number" name="yield[]"  value="{{yields.2}}" /></td>
                </tr>
                <tr>
                    <td class="yield">3</td>
                    <td class="input"><input type="number" name="yield[]" value="{{yields.3}}" /></td>
                </tr>
                <tr>
                    <td class="yield">4</td>
                    <td class="input"><input type="number" name="yield[]" value="{{yields.4}}" /></td>
                </tr>
                <tr>
                    <td class="yield">5</td>
                    <td class="input"><input type="number" name="yield[]" value="{{yields.5}}" /></td>
                </tr>
            </tbody>
        </table>


        <!--
        <div class="bottom-menu">
            <a href="{{request.META.HTTP_REFERER}}" class="back button">Go back</a>
            <a href="/farmer/form_harvest/" class="edit button" id="submitForm">Next</a>
        </div>
        -->

         <div class="bottom-menu">
            <div class="row">
                <div class="col-6">
                    <button href="{{request.META.HTTP_REFERER}}" type="button" class="back button btn btn-success custom-btn btn-lg btn-block">Go back</button>
                </div>
                <div class="col-6">
                    <button href="/farmer/form_harvest/" type="button" class="edit button btn btn-success custom-btn btn-lg btn-block" id="submitForm">Next</button>
                </div>    
            </div>            
        </div>

    </form>
</div>


{% endblock %}
