{% extends 'farmer/layout.html' %}
{% load static %}

{% block content %}
<header>Month Overview</header>

<div class="p-overview">

    {% if reports %}


        <ul class="overview">
            {% for report in reports %}


            <li><a href="/farmer/{{ report.farm.id }}/{{ report.month.year}}/{{ report.month.id}}/{{ report.month.name}}"><span class="name">{{report.month}}</span><span class="status success"><i class="fas fa-check-circle"></i></span></a></li>

            {% endfor %}

        </ul>

    {% else %}
        <p>No data available.</p>
    {% endif %}
</div>

<!--
<div class="bottom-menu">
    <a href="/farmer/farms/" class="back button">Go back</a>
</div>
-->

<div class="bottom-menu">
    <button type="button" class="btn btn-success custom-btn btn-lg btn-block" href="/farmer/farms/">Go back</button>
</div>

{% endblock %}
