{% extends 'farmer/layout.html' %}
{% load static %}

{% block content %}
<script type="text/javascript">
$(document).ready(function() {
    $('.select').on('click', function() {
        var hidden = $(this).next().is(':hidden');
        $('.open').hide();

        if (hidden) {
            $(this).next('.open').show();
        }
    });
});
</script>

<header>{{month.title}} {{year.title}}</header>

    <div class="p-select-month">
        <div class="select">
            <div class="name">Planted trees</div><div class="number">9000</div>
        </div>
        <div class="open">
            <table>
                {% for yield in planted_trees %}
                    {% for key, value in yield.items %}
                    <tr>
                        <td>{{ key }}</td>
                        <td class="number-t">{{ value }}</td>
                    </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
        <div class="select">
            <div class="name">Harvest KGs</div><div class="number">180</div>
        </div>
        <div class="open">
            <table>
                {% for yield in harvested_bananas %}
                    {% for key, value in yield.items %}
                    <tr>
                        <td>{{ key }}</td>
                        <td class="number-t">{{ value }}</td>
                    </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
        <div class="select">
            <div class="name">Fertilizer used</div><div class="number">{{fertilizer_used}}</div>
        </div>

            <div class="open">
            <table>
                <tr>
                    <td>Fertilizer amount</td>
                    {% if fertilizer_amount %}
                    <td class="number-t">{{fertilizer_amount}}</td>
                    {% else %}
                    <td class="number-t">No result</td>
                    {% endif %}
                </tr>
            </table>
        </div>
    </div>
<div class="bottom-menu">
    <a href="/farmer/{{farm}}/" class="back button">Go back</a>
    <a href="/farmer/form_planted/" class="edit button">Edit</a>
</div>


{% endblock %}
