{% extends 'farmer/layout.html' %}
{% load static %}

{% block content %}
<script type="text/javascript">
$(document).ready(function() {
    $('.select').on('click', function() {
        var hidden = $(this).next().is(':hidden');
        $('.open').hide();

        if (hidden) {
            $(this).next('.open').show();
        }
    });
});
</script>

{% if date.items %}
<header>{{date.month}} {{date.year}}</header>
    {% endif %}

    <div class="p-select-month">
        {% if trees.items %}
        <div class="select">
            <div class="name">Planted trees</div><div class="number">{{trees.trees_total}}</div>
        </div>
        <div class="open">
            <table>
                {% for yield in trees.trees_yield %}
                    {% for key, value in yield.items %}
                    <tr>
                        <td>{{ key }}</td>
                        <td class="number-t">{{ value }}</td>
                    </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
        {% endif %}

        {% if harvested.items %}
        <div class="select">
            <div class="name">Harvest KGs</div><div class="number">{{harvested.amount_total}}</div>
        </div>
        <div class="open">
            <table>
                {% for yield in harvested.trees_yield %}
                    {% for key, value in yield.items %}
                    <tr>
                        <td>{{ key }}</td>
                        <td class="number-t">{{ value }}</td>
                    </tr>
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
        {% endif %}

        {% if fertilizer.items %}
        <div class="select">
            <div class="name"></div>Fertilizer used<div class="number">{{fertilizer.used}}</div>
        </div>
        <div class="open">
            <table>
                <tr>
                    <td>Fertilizer amount</td>
                    {% if fertilizer.amount %}
                    <td class="number-t">{{fertilizer.amount}}</td>
                    {% else %}
                    <td class="number-t">No result</td>
                    {% endif %}
                </tr>
            </table>
        </div>
        {% endif %}


    </div>
<div class="bottom-menu">
    <a href="/farmer/{{ farm_id }}/" class="back button">Go back</a>
    <a href="/farmer/form_planted/{{ report.id}}" class="edit button">Edit</a>
</div>


{% endblock %}
