venv/
banna/banna/__pycache__/*
db.sqlite3
env/
.idea/
*.pyc
banna/farmer/migrations/*
banna/banna/migrations/*
banna/dashboard/migrations/*
banna/farmer/__pycache__/*
farmer/__pycache__/*
farmer/models/__pycache__/*
farmer/models/__pycache__/*
