{% extends 'dashboard/layout.html' %}
{% load static %}

{% block body %}
  <h1>Dashboard <small>Welcome </small></h1>

 <hr>

  <div class="container-fluid">
      <div class="page-content page-content-popup">
              <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                      <a class="dashboard-stat dashboard-stat-v2 bg-primary" style = "color: white;"href="/dashboard/harvests">
                          <div class="visual"></div>
                          <div class="details">
                              <div class="number">
                                  <span id = "total_harvested">{{total_bananas_harvested}}</span>
                              </div>
                              <div> Bananas Harvested (KG) </div>
                          </div>
                      </a>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                      <a class="dashboard-stat dashboard-stat-v2 bg-danger" style = "color: white;" href="/dashboard/factory_overview">
                          <div class="visual">

                          </div>
                          <div class="details">
                              <div class="number">
                                  <span id = "total_trees" >{{total_factory_kgs}}</span>
                              </div>
                              <div> Bananas Received (KG) </div>
                          </div>
                      </a>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                      <a class="dashboard-stat dashboard-stat-v2 bg-success" style = "color: white;" href="/dashboard/trees">
                          <div class="visual">

                          </div>
                          <div class="details">
                              <div class="number">
                                  <span id = "total_trees" >{{total_trees_planted}}</span>
                              </div>
                              <div>Trees planted</div>
                          </div>
                      </a>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                      <a class="dashboard-stat dashboard-stat-v2 purple" style = "color: white;" href="/dashboard/farmers">
                          <div class="visual">

                          </div>
                          <div class="details">
                              <div class="number">
                                  <span id = "total_farmers">{{farms_amount}}</span>
                              </div>
                              <div> Total farms </div>
                          </div>
                      </a>
                  </div>
              </div>
              <div class="clearfix"></div>
              <div class="row">
                  <div class="col-lg-12 col-xs-12 col-sm-12">
                      <div class="portlet light ">
                          <div class="portlet-title">
                              <div class="caption">
                                  <i class="icon-bar-chart font-red"></i>
                                  <span>Monthly Statistics</span>
                              </div>
                          </div>
                          <div class="portlet-body">
                              <div id="monthly_stat" class="chart">  </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="row">
                <div class="col-lg-6 col-xs-12 col-sm-12">
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-bar-chart font-yellow"></i>
                                <span>Bananas Harvested</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div id="bananas" class="chart">  </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12 col-sm-12">
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-bar-chart font-yellow "></i>
                                <span>Trees Planted</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div id="trees" class="chart">  </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 col-xs-12 col-sm-12">
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-bar-chart font-yellow"></i>
                                <span>Trees Planted <small>per yield</small></span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div id="trees_per_yield" class="chart">  </div>
                        </div>
                    </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-lg-6 col-xs-12 col-sm-12">
                      <div class="portlet light">
                          <div class="portlet-title">
                              <div class="caption">
                                  <i class="icon-cursor font-red"></i>
                                  <span>Farm Updates Submitted by Farmers <small> for {{current_month}} </small></span>
                              </div>
                          </div>
                          <div class="portlet-body" data-toggle="modal" data-target="#farmer_update_page">
                                <div id="farm_updates" class="chart"> </div>

                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#farmer_update_page">View</button>
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6 col-xs-12 col-sm-12">
                      <div class="portlet light">
                          <div class="portlet-title">
                              <div class="caption">
                                  <span>Zones</span>
                              </div>
                          </div>
                          <div class="portlet-body">
                                <div id="farm_zones" class="chart">  </div>

                          </div>
                      </div>
                  </div>
              </div>
      </div>
  </div>

<div class="modal fade  bd-example-modal-lg" id="farmer_update_page" tabindex="-1" role="dialog" aria-labelledby="farmerupdates" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header bg-success" style= "color:white;">
          <i class="icon-bar-chart font-red"></i>
        <h3 class="modal-title">Farmer Updates for {{current_month}}</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <div class = "farmers_updates" style = "padding-left: 50px; padding-top: 20px;">
            {% for item in farmer_updates_list %}
             <div class="row">
                     <div class ="col-lg-6 col-md-4 col-sm-6 col-xs-12" >
                          <h4>{{item.name}} </h4>
                     </div>
                     <div class ="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                          <h5> {% if item.completed == True %} Completed {% else %} Not completed{% endif %}</h5>
                     </div>
                     <div class ="col-lg-2 col-md-4 col-sm-6 col-xs-12">
                       <i class=" {% if item.completed == True %}icon-check font-green{% else %}icon-hourglass font-red{% endif %}" style= "font-size: 20px;"></i>
                     </div>
             </div>
            <hr>
            {% endfor %}
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn bg-success" style = "color:white;" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Monthly Statistics Line Chart -->
<script type="text/javascript">
       google.charts.load('current', {'packages':['corechart']});
             google.charts.setOnLoadCallback(drawChart);

             function drawChart() {
               var data = google.visualization.arrayToDataTable([
                 ['Month', 'Factory Received (KGs)', 'Harvests (number of trees)'],
                 {% for month, row in harvest_vs_received.items %}
                ['{{month}}', {{row.1}}, {{row.0}}],
                 {% endfor %}
               ]);

               var options = {
                 curveType: 'function',
                 legend: { position: 'bottom' },
                 vAxis: { gridlines: { count: 6, color: 'white' }, minValue:0, viewWindow: {
                   min: 0
               } },
                 colors: ['red','green']
               };

               var chart = new google.visualization.LineChart(document.getElementById('monthly_stat'));
               chart.draw(data, options);
             }
        </script>

<!-- Bananas Harvested Bar Chart -->
<script type="text/javascript">
     google.charts.load('current', {'packages':['corechart']});
           google.charts.setOnLoadCallback(drawChart);

           function drawChart() {
             var data = google.visualization.arrayToDataTable([
               ['Month', 'KG'],
               {% for month, harvest in harvest_per_month.items %}
               ['{{month}}', {{harvest}}],
               {% endfor %}
             ]);

             var options = {
               curveType: 'none',
               hAxis: { gridlines: { count: 6, color: 'white' }, minValue:0, viewWindow: {
                 min: 0
             }  },
               legend: { position: 'right' }
             };

             var chart = new google.visualization.BarChart(document.getElementById('bananas'));

             chart.draw(data, options);
           }
      </script>

<!-- Trees Planted Bar Chart -->
<script type="text/javascript">
           google.charts.load('current', {'packages':['corechart']});
                 google.charts.setOnLoadCallback(drawChart);

                 function drawChart() {
                   var data = google.visualization.arrayToDataTable([
                     ['Month', 'Trees' ],
                     {% for month, planted in planted_per_month.items %}
                     ['{{month}}', {{planted}}],
                     {% endfor %}
                   ]);


                   var options = {
                     curveType: 'none',
                     legend: { position: 'right' },
                     hAxis: { gridlines: { count: 6, color: 'white' } , minValue:0, viewWindow: {
                       min: 0
                   } },
                     colors: ['green']
                   };

                   var chart = new google.visualization.BarChart(document.getElementById('trees'));

                   chart.draw(data, options);
                 }
            </script>

<!-- Trees per Yield -->
<script type="text/javascript">
                   google.charts.load('current', {'packages':['corechart']});
                         google.charts.setOnLoadCallback(drawChart);

                         function drawChart() {
                           var data = google.visualization.arrayToDataTable([
                             ['Month', 'Yield 1', 'Yield 2', 'Yield 3', 'Yield 4', 'Yield 5'],
                             {% for month, row in trees_yield_month.items %}
                             ['{{month}}',
                             {% for index,yield_n in row.items %}
                             {{yield_n}},
                             {% endfor %}
                            ],
                             {% endfor %}
                           ]);

                           var options = {
                             curveType: 'function',
                             legend: { position: 'right' },
                             vAxis: { gridlines: { count: 6, color: 'white' }, minValue:0, viewWindow: {
                               min: 0
                           }  },
                             colors: ['red','green', 'yellow', 'blue', 'purple']
                           };

                           var chart = new google.visualization.LineChart(document.getElementById('trees_per_yield'));
                           chart.draw(data, options);
                         }
                    </script>

<!-- Farm Updates Pie -->
<script type="text/javascript">
               google.charts.load("current", {packages:["corechart"]});
               google.charts.setOnLoadCallback(drawChart);
               function drawChart() {
                 var data = google.visualization.arrayToDataTable([
                   ['Farmers', 'Updates for Month'],
                   ['Update', {{farmers_update}}],
                   ['No-Update', {{farmers_no_update}}]
                 ]);

                 var options = {
                   pieHole: 0.4,
                 };

                 var chart = new google.visualization.PieChart(document.getElementById('farm_updates'));
                 chart.draw(data, options);
               }
             </script>

<!-- Map for Zone -->
<script>
  function initMap(){
    // Map options
    var options = {
      zoom:10,
      center:{lat:1.436003,lng:110.535081}
    }

    // New map
    var map = new google.maps.Map(document.getElementById('farm_zones'), options);

    /*
    // Add marker
    var marker = new google.maps.Marker({
      position:{lat:1.540658,lng:110.529964},
      map:map,
      icon:'../../static/dashboard/img/mini-happy-banana.png'
    });

    var infoWindow = new google.maps.InfoWindow({
      content:'<h1>Farmer 1</h1>'
    });

    marker.addListener('click', function(){
      infoWindow.open(map, marker);
    });
    */

    // Array of markers
    var markers = [
      // Asajaya zone
      {% for farm in farms %}
       {
        coordinates:{lat:{{farm.lat}},lng:{{farm.lng}}},
        content:'<h4>{{farm.name}}</h4>'
    },
      {% endfor %}
    ];

    // Loop through markers
    for(var i = 0;i < markers.length;i++){
      // Add marker
      addMarker(markers[i]);
    }

    // Add Marker Function
    function addMarker(props){
      var marker = new google.maps.Marker({
      position:props.coordinates,
      map:map,
      icon:'../../static/dashboard/img/mini-happy-banana.png'
    });

      // Check content
      if(props.content){
        var infoWindow = new google.maps.InfoWindow({
          content:props.content
        });

        marker.addListener('click', function(){
          infoWindow.open(map, marker);
        });
      }
    }

    var myCoordinatesAsajaya = [
      new google.maps.LatLng(1.592036,110.524664),
      new google.maps.LatLng(1.581741,110.484152),
      new google.maps.LatLng(1.569386,110.491018),
      new google.maps.LatLng(1.542617,110.472479),
      new google.maps.LatLng(1.527516,110.475912),
      new google.maps.LatLng(1.512415,110.474539),
      new google.maps.LatLng(1.518593,110.486212),
      new google.maps.LatLng(1.506924,110.493765),
      new google.maps.LatLng(1.501432,110.497198),
      new google.maps.LatLng(1.502119,110.503378),
      new google.maps.LatLng(1.506237,110.523291),
      new google.maps.LatLng(1.500060,110.650320),
      new google.maps.LatLng(1.490450,110.644140),
      new google.maps.LatLng(1.446519,110.643454),
      new google.maps.LatLng(1.444460,110.664740),
      new google.maps.LatLng(1.474662,110.732718),
      new google.maps.LatLng(1.480154,110.737524),
      new google.maps.LatLng(1.531634,110.747824),
      new google.maps.LatLng(1.551540,110.748511),
      new google.maps.LatLng(1.561836,110.752630),
      new google.maps.LatLng(1.562522,110.742331),
      new google.maps.LatLng(1.550853,110.727225),
      new google.maps.LatLng(1.558404,110.691519),
      new google.maps.LatLng(1.565267,110.677786),
      new google.maps.LatLng(1.576250,110.651694),
      new google.maps.LatLng(1.588605,110.633154),
      new google.maps.LatLng(1.598214,110.600882),
      new google.maps.LatLng(1.594782,110.576849),
      new google.maps.LatLng(1.586545,110.550757),
      new google.maps.LatLng(1.584486,110.537710),
      new google.maps.LatLng(1.590664,110.523291)
    ];
    var polyOptionsAsajaya = {
    path: myCoordinatesAsajaya,
    strokeColor: "#FF0000",
    strokeOpacity: 1,
    strokeWeight: 3
    }
    var it = new google.maps.Polyline(polyOptionsAsajaya);
    it.setMap(map);

    var myCoordinatesSamarahan = [
      new google.maps.LatLng(1.511877,110.471552),
      new google.maps.LatLng(1.514623,110.468118),
      new google.maps.LatLng(1.507072,110.459879),
      new google.maps.LatLng(1.509818,110.447519),
      new google.maps.LatLng(1.507759,110.439966),
      new google.maps.LatLng(1.502267,110.435846),
      new google.maps.LatLng(1.498835,110.424173),
      new google.maps.LatLng(1.505013,110.419367),
      new google.maps.LatLng(1.507759,110.410440),
      new google.maps.LatLng(1.512563,110.411127),
      new google.maps.LatLng(1.496776,110.393274),
      new google.maps.LatLng(1.483048,110.384348),
      new google.maps.LatLng(1.473438,110.379541),
      new google.maps.LatLng(1.469319,110.369241),
      new google.maps.LatLng(1.472065,110.348642),
      new google.maps.LatLng(1.470006,110.343149),
      new google.maps.LatLng(1.459710,110.338342),
      new google.maps.LatLng(1.454905,110.329416),
      new google.maps.LatLng(1.454905,110.319933),
      new google.maps.LatLng(1.449413,110.313066),
      new google.maps.LatLng(1.439803,110.308946),
      new google.maps.LatLng(1.434998,110.311693),
      new google.maps.LatLng(1.434312,110.326799),
      new google.maps.LatLng(1.424702,110.332979),
      new google.maps.LatLng(1.421956,110.334352),
      new google.maps.LatLng(1.409600,110.359758),
      new google.maps.LatLng(1.404795,110.384477),
      new google.maps.LatLng(1.404109,110.401643),
      new google.maps.LatLng(1.406168,110.415376),
      new google.maps.LatLng(1.406168,110.423616),
      new google.maps.LatLng(1.391753,110.424303),
      new google.maps.LatLng(1.370473,110.424303),
      new google.maps.LatLng(1.362235,110.427736),
      new google.maps.LatLng(1.360863,110.436662),
      new google.maps.LatLng(1.372532,110.457948),
      new google.maps.LatLng(1.373219,110.464128),
      new google.maps.LatLng(1.370473,110.473055),
      new google.maps.LatLng(1.349193,110.486787),
      new google.maps.LatLng(1.347820,110.490221),
      new google.maps.LatLng(1.353998,110.506700),
      new google.maps.LatLng(1.352625,110.534166),
      new google.maps.LatLng(1.357430,110.532793),
      new google.maps.LatLng(1.366354,110.528673),
      new google.maps.LatLng(1.445981,110.641283),
      new google.maps.LatLng(1.489225,110.641969),
      new google.maps.LatLng(1.498835,110.646776),
      new google.maps.LatLng(1.505013,110.523866),
      new google.maps.LatLng(1.499522,110.497087),
      new google.maps.LatLng(1.516682,110.484727),
      new google.maps.LatLng(1.511191,110.472368)
    ];
    var polyOptionsSamarahan = {
    path: myCoordinatesSamarahan,
    strokeColor: "#3bc32e",
    strokeOpacity: 1,
    strokeWeight: 3
    }
    var it = new google.maps.Polyline(polyOptionsSamarahan);
    it.setMap(map);

    var myCoordinatesSimunjan = [
      new google.maps.LatLng(1.426761,110.711321),
      new google.maps.LatLng(1.445295,110.641969),
      new google.maps.LatLng(1.365668,110.527300),
      new google.maps.LatLng(1.351252,110.533479),
      new google.maps.LatLng(1.100684,110.791658),
      new google.maps.LatLng(1.099998,110.809511),
      new google.maps.LatLng(1.094505,110.815691),
      new google.maps.LatLng(1.086267,110.815004),
      new google.maps.LatLng(1.066358,110.819810),
      new google.maps.LatLng(1.062925,110.831483),
      new google.maps.LatLng(1.029972,110.847276),
      new google.maps.LatLng(1.026539,110.854829),
      new google.maps.LatLng(1.020360,110.852769),
      new google.maps.LatLng(1.014182,110.831483),
      new google.maps.LatLng(0.985216,110.845216),
      new google.maps.LatLng(0.971485,110.863756),
      new google.maps.LatLng(0.977664,110.885728),
      new google.maps.LatLng(0.995514,110.891222),
      new google.maps.LatLng(1.006499,110.891222),
      new google.maps.LatLng(1.021603,110.904268),
      new google.maps.LatLng(1.028468,110.907571),
      new google.maps.LatLng(1.029841,110.922677),
      new google.maps.LatLng(1.027095,110.939843),
      new google.maps.LatLng(1.029155,110.963189),
      new google.maps.LatLng(1.031901,110.991342),
      new google.maps.LatLng(1.132133,110.970056),
      new google.maps.LatLng(1.176070,110.954263),
      new google.maps.LatLng(1.218218,110.987909),
      new google.maps.LatLng(1.262153,110.967309),
      new google.maps.LatLng(1.299223,110.961816),
      new google.maps.LatLng(1.347275,110.947397),
      new google.maps.LatLng(1.354826,110.917871),
      new google.maps.LatLng(1.390522,110.881479),
      new google.maps.LatLng(1.387089,110.845773),
      new google.maps.LatLng(1.404937,110.812127),
      new google.maps.LatLng(1.425530,110.711877)
    ];
    var polyOptionsSimunjan = {
    path: myCoordinatesSimunjan,
    strokeColor: "#4043f4",
    strokeOpacity: 1,
    strokeWeight: 3
    }
    var it = new google.maps.Polyline(polyOptionsSimunjan);
    it.setMap(map);



  }
</script>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBd9zkxd3rWAT0eaTjSWCalscw4JACDtNs&callback=initMap">
</script>



{% endblock %}
