{% extends 'dashboard/layout.html' %}
{% load static %}

{% block body %}
<script type="text/javascript">
$(document).ready(function() {
    $('.delete_row').on('click', function(e) {
        e.preventDefault();
        if (confirm('Are you sure to delete this item?')) {
            location.href = '/dashboard/factory_data_delete/' + $(this).attr('data-id')
        }
    })
});
</script>

<h1>Factory Data</h1>
 <hr>
 <div class="container-fluid">
   <div class="page-content page-content-popup">
            <div class="row">
               <div class="col-lg-12 col-xs-12 col-sm-12">
                   <div class="portlet light bordered">
                       <div class="portlet-title">
                           <div class="caption">
                               <i class="icon-share font-red"></i>
                               <span>Bananas Harvested vs Bananas Received</span>
                           </div>
                       </div>

                       <div class="portlet-body" id = "received_harvested">
                           <div class="scroller" style="height: 300px;">

                           </div>
                       </div>
                   </div>
               </div>
           </div>
            <div class="clearfix"></div>
            <hr>
            <h3>Bananas Received Monthly</h3>

            <a class="btn bg-success" style = "color: white;" href="/dashboard/factory_data">Add New Data </a>
            <hr>
            <div class="row">
              <div class="col-lg-12 col-xs-12 col-sm-12">
                <table class="table table-striped" id ="factory_table">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Quantity Received (KG)</th>
                      <th>Date</th>
                      <th>Actions</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for factory_data in factory_datas %}
                      <tr>
                          <td> {{factory_data.id}} </td>
                          <td> {{factory_data.kgs_received}} </td>
                          <td> {{factory_data.month}}-{{factory_data.year}} </td>
                          <td><a href="/dashboard/factory_data_edit/{{factory_data.id}}" class="btn btn-primary pullright">Edit </td>
                          <td>
                            <form>
                               <a class="btn bg-danger delete_row" style="color: white;" data-id="{{factory_data.id}}">Delete</a>
                            </form></td>
                      </tr>
                      {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
    </div>
 </div>

<script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
              google.charts.setOnLoadCallback(drawChart);

              function drawChart() {
                var data = google.visualization.arrayToDataTable([
                  ['Month', 'Factory Received', 'Harvest  (KGs)'],
                  {% for month, graph_data in graph_datas.items %}
                  ['{{ month }}', {{graph_data.received}}, {{graph_data.kgs}}],
                  {% endfor %}
                ]);

                var options = {
                  curveType: 'function',
                  legend: { position: 'bottom' },
                  vAxis: { gridlines: { count: 6, color: 'white' }, minValue:0, viewWindow: {
                    min: 0
                }},
                  colors: ['red','green']
                };

                var chart = new google.visualization.LineChart(document.getElementById('received_harvested'));
                chart.draw(data, options);
              }
         </script>
<script type="text/javascript">
 $(document).ready(function() {
     $('#factory_table').DataTable( {
       dom: 'Bfrtip',
       "order": [[ 0, "desc" ]],
       "lengthMenu": [ 10, 25, 50, 75, 100 ],
       buttons: [

             { extend: 'copyHtml5', className: 'copyButton' },
             { extend: 'excelHtml5', className: 'excelButton' },
             { extend: 'csvHtml5', className: 'csvButton' }

       ]
     } );
 } );
 </script>

{% endblock %}
