{% extends 'dashboard/layout.html' %}
{% load static %}

{% block body %}

<div class="container-fluid" style="margin-right: 200;	margin-left: 200px;">
  <h1>Edit Factory Data</h1>
 <div class="row">
   <div class="col-lg-8 col-xs-12 col-sm-12">
    <form method= "POST" action="">
        {% csrf_token %}
      <div class="form-group">
       <label>How much bananas received? (KG)</label>
       <input type="number" name="kgs_received" class="form-control"
       value="{{data.kgs_received}}">
      </div>

   <p><input type="submit" class="btn bg-success" style= "color: white;" value="Submit"> <a class="btn bg-danger" style = "color: white;" href="/dashboard/factory">Cancel</a></p>

  </form>
 </div>
</div>
</div>
{% endblock %}
