{% extends 'dashboard/layout.html' %}
{% load static %}

{% block body %}
<h1>Factory Overview</h1>
 <hr>
 <div class="container-fluid">
     <div class="page-content page-content-popup">
           <div class="row">
               <div class="col-lg-12 col-xs-12 col-sm-12">
                   <div class="portlet light">
                       <div class="portlet-title">
                           <div class="caption">
                               <i class="icon-share font-yellow"></i>
                               <span>Bananas Harvested vs Bananas Received</span>
                           </div>
                       </div>

                       <div class="portlet-body" id = "received_harvested">
                           <div class="scroller" style="height: 300px;">

                           </div>
                       </div>
                   </div>
               </div>
           </div>
            <div class="clearfix"></div>
            <h2>Factory Data</h2>
           <div class="row">
              <div class="col-lg-12 col-xs-12 col-sm-12">
                <table class="table table-striped" id ="factory_overview_table">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Quantity Received (KG)</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                      {% for factory_data in factory_datas %}
                      <tr>
                          <td> {{factory_data.id}} </td>
                          <td> {{factory_data.kgs_received}} </td>
                          <td> {{factory_data.month}}-{{factory_data.year}} </td>
                      </tr>
                      {% endfor %}
                  </tbody>
                </table>
              </div>
          </div>
     </div>
 </div>

<script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
              google.charts.setOnLoadCallback(drawChart);

              function drawChart() {
                var data = google.visualization.arrayToDataTable([
                  ['Month', 'Factory Received', 'Harvests'],
                  {% for month, graph_data in graph_datas.items %}
                  ['{{ month }}', {{graph_data}}, 0],
                  {% endfor %}
                ]);

                var options = {
                  curveType: 'function',
                  legend: { position: 'bottom' },
                  vAxis: { gridlines: { count: 6, color: 'white' }, minValue:0, viewWindow: {
                    min: 0
                } },
                  colors: ['red','green']
                };

                var chart = new google.visualization.LineChart(document.getElementById('received_harvested'));
                chart.draw(data, options);
              }
         </script>
<script type="text/javascript">
                $(document).ready(function() {
                    $('#factory_overview_table').DataTable( {
                        "lengthMenu": [ 10, 25, 50, 75, 100 ],
                        dom: 'Bfrtip',
                        buttons: [

                              { extend: 'copyHtml5', className: 'copyButton' },
                              { extend: 'excelHtml5', className: 'excelButton' },
                              { extend: 'csvHtml5', className: 'csvButton' }

                        ]
                    } );
                } );
</script>

{% endblock %}
