{% extends 'dashboard/layout.html' %}
{% load static %}

{% block body %}
  <h1>Farmers</h1>
 <hr>

<table class="table table-striped" id = "farmers_table">
 <thead>
   <tr>
     <th>Farm ID</th>
     <th>Farmer Name</th>
     <th>Zone</th>
     <th>Date Registered</th>

   </tr>
  </thead>
 <tbody>
  {% for farmer in farmers %}
     <tr>
         <td> {{farmer.id}} </td>
         <td> {{farmer.farmer.first_name}}</td>
         <td> {{farmer.zone}}</td>
         <td> {{farmer.farmer.date_joined}}</td>

     </tr>
  {% endfor %}
 </tbody>
</table>

<script type="text/javascript">
$(document).ready(function() {
    $('#farmers_table').DataTable( {
      dom: 'Bfrtip',
      "lengthMenu": [ 10, 25, 50, 75, 100 ],
      buttons: [

            { extend: 'copyHtml5', className: 'copyButton' },
            { extend: 'excelHtml5', className: 'excelButton' },
            { extend: 'csvHtml5', className: 'csvButton' }

      ]
    } );
} );
</script>

{% endblock %}
