{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Banna</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="{% static 'dashboard/css/custom.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'dashboard/css/layout.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'dashboard/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'dashboard/plugins/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'dashboard/plugins/jqvmap/jqvmap/jqvmap.css' %}"  rel="stylesheet" type="text/css" />
    <link href="{% static 'dashboard/css/components.min.css' %}" rel="stylesheet" id="style_components"  type="text/css" />
    <link href="{% static 'dashboard/css/plugins.min.css' %}" rel="stylesheet" type="text/css" />

  </head>

  <body>

    {% include 'dashboard/includes/_navbar.html' %}
  </br>
    <div class="container " >
      {% block body %}
      {% endblock %}
    </div>

    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js">
    </script>

  </body>

</html>
