{% extends 'dashboard/layout.html' %}
{% load static %}

{% block body %}
<h1>Planted Trees Overview</h1>
 <hr>

 <div class="container-fluid">
     <div class="page-content page-content-popup">
           <div class="row">
               <div class="col-lg-12 col-xs-12 col-sm-12">
                   <div class="portlet light ">
                       <div class="portlet-title">
                           <div class="caption">
                               <span>Statistics</span>
                           </div>
                       </div>
                       <div class="portlet-body" id = "total_trees">
                       </div>
                   </div>
               </div>
           </div>
           <div class="clearfix"></div>
           <h2>Planted Trees Data</h2>
           <div class="row">
                   <div class="col-lg-12 col-xs-12 col-sm-12">
                    <table class="table table-striped" id = "trees_table">
                      <thead>
                      <tr>

                        <th>Farmer Name</th>
                        <th>Yield</th>
                        <th>Fertilizer Used</th>
                        <th>Number of Trees</th>
                        <th>Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for row in rows %}
                        <tr>
                            <!--<td> 1 </td>-->
                            <td> {{ row.report_id.farm.farmer.first_name }} {{ row.report_id.farm.farmer.last_name }} </td>
                            <td> {{ row.yield_number }} </td>
                            <td> {{ row.report_id.fertilizer_used}} </td>
                            <td> {{ row.planted_amount_trees }} </td>
                            <td> {{ row.report_id.month }} {{ row.report_id.year }} </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                   </div>
               </div>
     </div>
</div>

<script type="text/javascript">
     google.charts.load('current', {'packages':['corechart']});
           google.charts.setOnLoadCallback(drawChart);

           function drawChart() {
             var data = google.visualization.arrayToDataTable([
               ['Month', 'KG' ],
               {% for month,amount in planted_per_month.items %}
               ['{{ month }}', {{amount}}],
               {% endfor %}
             ]);

             var options = {
               curveType: 'function',
               vAxis: { gridlines: { count: 6, color: 'white' } },
               legend: { position: 'right' },
                colors: ['green']
             };

             var chart = new google.visualization.LineChart(document.getElementById('total_trees'));

             chart.draw(data, options);
           }
      </script>
      <script type="text/javascript">
                      $(document).ready(function() {
                          $('#trees_table').DataTable( {
                              "lengthMenu": [ 10, 25, 50, 75, 100 ],
                              dom: 'Bfrtip',
                              buttons: [

                                    { extend: 'copyHtml5', className: 'copyButton' },
                                    { extend: 'excelHtml5', className: 'excelButton' },
                                    { extend: 'csvHtml5', className: 'csvButton' }

                              ]
                          } );
                      } );
      </script>
{% endblock %}
