{% extends 'dashboard/layout.html' %}
{% load static %}

{% block body %}
  <h1>Users</h1>
  <a class="btn bg-success" style = "color: white;" href="/dashboard/add_user">Add New User </a>
 <hr>

 <table class="table table-striped">
   <tr>
     <th>User ID</th>
     <th>Name</th>
     <th>Role</th>
     <th>Date Registered</th>
     <th>Actions</th>
     <th></th>
   </tr>

     <tr>
         <td> 0011 </td>
         <td> John Snow </td>
         <td> Admin </td>
         <td> 20.06.2018 </td>
         <td>
           <form >
              <input type="hidden" name="_method" value="DELETE">
              <input type ="submit" value ="Delete" class="btn btn-danger">
           </form>
         </td>
     </tr>
 </table>

{% endblock %}
