* {
    box-sizing: border-box;
    font-family: 'Open Sans';
    padding:0;
    margin:0;
}
input {
    -webkit-appearance: none;
    outline:0;
    border:1px solid #c9c9c9;
    border-radius: 0px;
    padding: 4px 0;
}
html {
    min-height:100%;
    width:100%;
    position: relative;
}
body {
    /*background-image: url('img/background.png');*/
    /*background: white url("img/background.png") no-repeat;*/
    background-size: 100%;
    /*background-color: #1aa613;*/
    color:#3e3e3e;
    font-family: 'Open Sans';
    font-weight: 600;
    min-height:100%;
    width:100%;
    margin-bottom: 45px;
}

header {
    height:60px;
    width:100%;
    font-size: 21px;
    text-align: center;
    padding-top:15px;
    background: #1aa613;
    font-weight: bold;
    font-weight: 600;
    color:#fff
}

#layout_background{z-index: 1;}
#layout_background:before{
            content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('img/background.png');
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0.6;
    filter:alpha(opacity=40);
    height:100%;
    width:100%;
}

.p-overview .overview {
    list-style: none;
    width:100%;
}

.p-overview .overview li {
    /*background: #7ea25d;*/
    width:100%;
    height:50px;
    border-bottom: 1px solid #bbbbbb;
}
.p-overview .overview li a {
    width:inherit;
    height:inherit;
    padding:13px 20px;
    display:block;
    color:#3e3e3e;
}.p-overview .overview li a:hover {
    text-decoration: none;
}
.p-overview .overview li:nth-child(even) {
    background: #e0e0e0
}
.p-overview .overview li .status {
    display: block;
    float:right;
    font-size: 25px;
    margin-top:-7px
}
.p-overview .overview li .status.success {
    color:#2ddb14
}
.p-overview .overview li .status.error {
    color:#f90303;
}
.p-select-month .select{
    height:48px;
    background: #e0e0e0;
    width:100%;
    padding:12px 20px;
    border-bottom: 1px solid #bbbbbb;
}

.p-select-month .select .name{
    float:left;
}
.p-select-month .select .number{
    float:right;
}
.p-select-month .open {
    display:none;
}
.p-select-month table {
    width:100%;

}
.p-select-month table td{
    padding:7px 20px 7px 50px
}
.p-select-month table tr:nth-child(even) {
    /*background: #7b9d5c;*/
}
.p-select-month table td.number-t {
    text-align: right;
}
.bottom-menu {
    height: 45px;
    width:100%;
    bottom:0;
    position: absolute;
    left:0;
}
.bottom-menu .custom-btn {    
    background-color: #1aa613;   
}
.bottom-menu .custom-btn:hover {    
    background-color: #127f0c;    
}
.bottom-menu .button.edit {
    background: #115c0d;
}
.bottom-menu .button.edit:hover {
    background: #0a3807;
}
.p-form-planted table {
    width:100%;
}
.p-form-planted table thead .first {
    width:50%;
    text-align: center;
}
.p-form-planted table thead .second {
    width:50%;
    text-align: center;
}
.p-form-planted table td {
    padding:5px 0
}
.p-form-planted table .yield {
    text-align: center;
}
.p-form-planted table .input {
    text-align: center;
}
.p-form-planted table input {
    width:100px;
    border-radius: 5px;
    text-align: center
}
.p-form-fertilizer .label {
    text-align: center;
    margin-top:40px;
}
.p-form-fertilizer .buttons {
    width:200px;
    margin:20px auto;
}
.p-form-fertilizer .buttons .button {
    width:50%;
    float:left;
    padding:10px 0;
    text-align: center;
    background: #bdbdbd;
}
.p-form-fertilizer .buttons .button.yes {
    border-radius: 5px 0 0 5px;
}
.p-form-fertilizer .buttons .button.no {
    border-radius: 0 5px 5px 0;
}
.p-form-fertilizer .buttons .button.selected {
    background: #115c0d;
    color:#fff
}
.p-form-fertilizer .fertilizer-input {
    text-align: center;
    padding-bottom: 20px;
}
.p-form-fertilizer .fertilizer-input input{
    width:100px;
    border-radius: 5px;
    text-align: center;
}
.clear{
    clear:both;
}
.p-success {
    text-align: center;
}
.p-success img{
    width:150px;
    margin-top: 70px;
    display: inline-block;
}
