{% extends 'farmer/layout.html' %}
{% load static %}

{% load i18n %}

{% block content %}
<header>{% trans "Overview Farms" %}</header>

<div class="p-overview">
    {% if farms %}


        <ul class="overview">
            {% for farm in farms %}

            <li><a href="/farmer/{{language}}/{{ farm.id }}/"><span class="name">{{farm.name}}</span></a></li>

            {% endfor %}

        </ul>

    {% else %}
        <p>{% trans "No data available." %}</p>
    {% endif %}



</div>

<div class="bottom-menu">
     <a href="/farmer/language/" class="back button btn-block">
        <button type="button" class="btn btn-success custom-btn btn-lg btn-block">{% trans "Go back" %}</button>
     </a>
</div>

{% endblock %}
