{% extends 'farmer/layout.html' %}
{% load static %}

{% block content %}
<header>Overview Farms</header>

<div class="p-overview">

    {% if farms %}


        <ul class="overview">
            {% for farm in farms %}


            <li><a href="/farmer/{{ farm.id }}/"><span class="name">{{farm.name}}</span></a></li>

            {% endfor %}

        </ul>

    {% else %}
        <p>No data available.</p>
    {% endif %}
</div>

<div class="bottom-menu">
     <a href="/farmer/logout" class="back button btn-block">
        <button type="button" class="btn btn-success custom-btn btn-lg btn-block">Logout</button>

     </a>
</div>

{% endblock %}
