{% extends 'farmer/layout.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<header>{% trans "Month Overview" %}</header>

<div class="p-overview">

    {% if data %}
        <ul class="overview">
            <div id="overview-month">
            {% for month in data %}
                <li>
                    <a href="/farmer/{{language}}/{{month.farm_id}}/{{ month.year }}/{{ month.month }}">
                        <span class="name">{{month.month}} {{month.year}}</span>

                        <img class='status' src="../../../static/farmer/img/{{month.date.value}}">
                    </a>
                </li>
            {% endfor %}
            </div>

        </ul>



    {% else %}
        <p>{% trans "No data available." %}</p>
    {% endif %}
</div>
<div>

</div>

<div class="bottom-menu">
    <a href="/farmer/{{language}}/farms/">
        <button type="button" class="btn btn-success custom-btn btn-lg btn-block twobuttons">{% trans "Go back" %}</button>
    </a>
    <a href="/farmer/{{language}}/{{farm_id}}/statistics/">
        <button type="button" class="edit button btn btn-success custom-btn btn-lg btn-block twobuttons" id="submitForm">{% trans "Statistics" %}</button>
    </a>
</div>

{% endblock %}
