{% extends 'farmer/layout.html' %}
{% load static %}

{% block content %}
<header>Statistics Overview</header>
<div class="container-fluid">
    <div class="page-content page-content-popup">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a class="dashboard-stat dashboard-stat-v2 bg-primary" style = "color: white;"href="/dashboard/harvests">
                        <div class="visual"></div>
                        <div class="details">
                            <div class="number">
                                <span id = "total_harvested">{{total_bananas_harvested}}</span>
                            </div>
                            <div> Bananas Harvested (KG) </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a class="dashboard-stat dashboard-stat-v2 bg-danger" style = "color: white;" href="/dashboard/factory">
                        <div class="visual">

                        </div>
                        <div class="details">
                            <div class="number">
                                <span id = "total_trees" >0</span>
                            </div>
                            <div> Bananas Received (KG) </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a class="dashboard-stat dashboard-stat-v2 bg-success" style = "color: white;" href="/dashboard/trees">
                        <div class="visual">

                        </div>
                        <div class="details">
                            <div class="number">
                                <span id = "total_trees" >{{total_trees_planted}}</span>
                            </div>
                            <div>Trees planted</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <a class="dashboard-stat dashboard-stat-v2 purple" style = "color: white;" href="/dashboard/farmers">
                        <div class="visual">

                        </div>
                        <div class="details">
                            <div class="number">
                                <span id = "total_farmers">{{farms_amount}}</span>
                            </div>
                            <div> Total farms </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-lg-12 col-xs-12 col-sm-12">
                    <div class="portlet light ">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-bar-chart font-red"></i>
                                <span>Monthly Statistics</span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div id="monthly_stat" class="chart">  </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>
</div>

<div class="bottom-menu">
     <a href="/farmer/{{farm_id}}" class="back button btn-block">
        <button type="button" class="btn btn-success custom-btn btn-lg btn-block">Go Back</button>
     </a>
</div>

{% endblock %}
