{% extends 'farmer/layout.html' %}
{% load static %}

{% block content %}


    </div>
        <header>Statistics Overview</header>
                <div class="statisticsgraph">

                      <div class="caption">
                            <i class="icon-bar-chart font-red"></i>
                            <span>Monthly Harvested Bananas (KG)</span>
                      </div>
                            <div id="my_monthly_stat" class="chart"></div>
                    </div>
    <div class="container-fluid">
    <hr>

            <div class="row boxes">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class = "box thb" style = "height: 55px; margin-top:5px; color: white;">
                                  <div style= "margin-left:5px;">
                                      <span style = "font-size: 18px;" id = "total_harvested">{{bananas_harvested}}</span>
                                          <div>Total Bananas Harvested (KG) </div>
                                  </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                      <div class = "box ttp" style = "height: 55px; margin-top:5px; color: white;">
                                    <div style= "margin-left:5px;">
                                        <span style = "font-size: 18px;" id = "total_planted">{{trees_planted}}</span>
                                            <div> Total Trees Planted</div>
                                    </div>
                      </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                      <div class = "box tth" style = "height: 55px; margin-top:5px; color: white;">
                                    <div style= "margin-left:5px;">
                                        <span style = "font-size: 18px;" id = "total_harvested">{{trees_harvested}}</span>
                                            <div> Total Trees Harvested </div>
                                    </div>
                      </div>
                </div>
            </div>

            <div class="bottom-menu">
               <a href="/farmer/{{farm_id}}" class="back button btn-block">
                <button type="button" class="btn btn-success custom-btn btn-lg btn-block">Go Back</button>
               </a>
            </div>

        <script type="text/javascript">
               google.charts.load('current', {'packages':['corechart']});
                     google.charts.setOnLoadCallback(drawChart);

                     function drawChart() {
                       var data = google.visualization.arrayToDataTable([
                         ['Period', 'Expected', 'Actual'],
                         ['June',  300,      400],
                         ['July',  170,      260],
                         ['August',  260,       120],
                         ['September',  130,      240],
                         ['November',  200,      150],
                         ['December',  200,      150]

                       ]);

                       var options = {
                         curveType: 'function',
                         legend: { position: 'top' },
                         height: '290',
                         vAxis: { gridlines: { count: 6, color: 'white' } },
                         colors: ['red','green']
                       };

                       var chart = new google.visualization.LineChart(document.getElementById('my_monthly_stat'));
                       chart.draw(data, options);
                     }
                </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
{% endblock %}

